body{
      font-family: "Noto Serif", serif;
}
nav{
    max-width:1440px;
    margin: 0 auto;
    
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    display: flex;
    justify-content: space-between;
}
nav li{
    list-style: none;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    
}
.nav-item-1 a {
    font-weight: bold;
    color: #000000;
}

.nav-item-2 a,
.nav-item-3 a,
.content-item
 {
    font-weight: 500;
    color: #00000080; 
}
.nav-item-4 a{
    color: black;
}

.header-text{
    font-size: 4.2rem;
    font-weight: bold;
    
}
.text{
    font-size: 3rem;
    font-weight: bold;
    
}
.highlight{
    color:#E95A08
}
.description{
    font-size: 1.5rem;
    color:#00000050;
}
.text-center{
    text-align: center;
}
.banner{
    
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    margin-top: 100px;
}
section{
    max-width: 1440px;
    margin: 0 auto;
}
.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:40px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 500;
}
.price{
    font-size: 1.5rem;
    font-weight: bold;
}
.btn{
    background-color: #E95A08;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;

}

.plants-lover-section {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 120px;
}

.image-container {
  position: relative; 
}

.badge {
  position: absolute;
  top: -20%; 
  right: -20%;
  width: 300px;
}

.description-list {
  
  line-height: 1.5;
 margin-bottom: 20px; 
  
}
.deal-section{
    margin-top: 120px;
}

.deal-card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.deal-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.deal-card.small {
  height: 150px;
}

.deal-card.large {
  height: 100%;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.overlay a {
  display: block;
  margin-top: 10px;
  text-decoration: underline;
  color:white;
  font-size: 1.1rem;
  font-weight: bold;
  
 
}

.deal-images {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  border-radius: 12px;
 
 
}

.deal-images-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}


 .join-section {
    background-image: url('../assets/news-letter-bg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-top: 120px;
}

.join-text {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.subscribe-form {
    display: flex;
    max-width: 800px;
    width: 100%;
    
}

.subscribe-form input {
    flex: 1;
    padding: 18px 20px; 
    font-size: 1.2rem;   
    border: none;
   
}

.subscribe-form button {
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 0 25px;
    font-size: 1.2rem;
    cursor: pointer;
   
}

.footer-section{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
}

@media (max-width: 576px) {
  
  .nav-section {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
  }

  .nav-items {
    display: flex;
    gap: 10px;
  }

  .nav-item-1,
  .nav-item-2,
  .nav-item-3 {
    display: none;
  }

  .nav-item-4 a {
    font-size: 1rem;
    color: black;
    display: flex;
    align-items: center;
  }

  nav img {
    width: 100px;
  }

  
  .banner {
    flex-direction: column-reverse;
    margin-top: 50px;
    padding: 0 15px;
  }
 
  .banner img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

   .card {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  
  .card-item img {
    width: 100%;
    height: auto;
  }

    .plants-lover-section {
    flex-direction: column;
    gap: 40px;
    padding: 0 15px;
  }

  .image-container .main-image {
    width: 100%;
  }

  .badge {
    display: none;
  }

  
  .deal-images {
    grid-template-columns: 1fr;
    padding: 0 15px;
  }

  .deal-images-column {
    flex-direction: column;
  }

  
.join-text {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  padding: 0 20px;
}

.subscribe-form {
    margin: 0 auto;
    padding: 0 20px;
  }

  .footer-section {
    flex-direction: column;
    justify-content: space-between;
  }

}
